
  /* NAVBAR */
.navBar{
  left: 5%;
  transform: translate(-10%, 25%);
}
.toolTip{
  visibility: hidden;
  transform: translate(-10px);
  transition: all .1s ease-in;
  opacity: 0.1;
  color: cyan;
  display: flex;
  font-size: 16px;
  writing-mode: horizontal-tb;
  text-orientation: unset;
  transform: rotate(180deg);
}

.navButton:hover  .toolTip{
  visibility: visible;
  transform: translate(25%);
  opacity: 1;
}
.changeLanguague div{
  outline: 3px #f3ec78 solid;

}
.circle{
  display: inline-block;
  outline: 3px white solid;
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .navBar{
    /* transform: translate(-50%,-50%); */
  }
  .toolTip{
    visibility: hidden;
    transition: all .2s ease-in;
    opacity: 0.1;
    color: cyan;
    display: flex;
    font-size: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .navButton:hover  .toolTip{
    visibility: visible;
    opacity: 1;
    margin-top: 1em;
  }
  .changeLanguague div{
    outline: 3px #f3ec78 solid;
  
  }
  .circle{
    display: inline-block;
    outline: 3px white solid;
    width: 15px;
    height: 15px;
    border-radius: 25px;
  }
  


}




.fullstack{
  
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, #b28211, #ff0048);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
html{
  scroll-behavior: smooth;
}
.buttonGradient{
  background-color: #87878746;
  background-image: linear-gradient(90deg, #8b8b8b50, #0000008a);
  background-size: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all .2s ease;

}

.buttonGradient:hover{
  background-color: #00c4f546;
  background-image: linear-gradient(90deg, #000f185e, #0170ab77);
  box-shadow: 2px 3px 7px rgba(0, 251, 243, 0.441);
  transition: all .2s ease;

}

.papelcrepeButton{
  background-color: #87878746;
  background-image: linear-gradient(90deg, #8b8b8b50, #0000008a);
  background-size: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all .2s ease;

  color: white;
}
.papelcrepeButton:hover{
  background-color: #b008f8ce;
  background-image: linear-gradient(90deg, #8600795e, #00000077);
  box-shadow: 2px 5px 7px rgba(212, 0, 255, 0.95);
  transition: all .2s ease;

}



/* PROJECTS */
.bgCover{
  background-color: red;
  position: absolute;
  z-index: 10;
}
.playlistStatsBG{
  background-image: url('../../public/playlistStats.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* outline: 0.1px solid greenyellow; */

}
.playlistStatsBG:hover{
  box-shadow: 2px 3px 7px rgba(61, 202, 1, 0.731);

}
.product-item { 
  transition: background-color 0.3s ease;
}

.item-content {
  padding: 20px;
  text-align: center;
  transition: color 0.3s ease;
}



.item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item:hover {
  background-color: #000; /* Change item background color to black on hover */
}

.product-item:hover .project {
  display: none;
}
.product-item:hover .item-description {
  transform: translateY(0); /* Slide the description up into view */
}

.projectBg{
  background-color: #0000006c;
  width: 100%;
  height: 100%;
}
.project{
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.719);

}

.projectButtons{
  background-color: #87878746;
  background-image: linear-gradient(90deg, #8b8b8b50, #0000008a);
  background-size: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all .2s ease;
  color: white;

  
}
.playlistStats:hover{
  background-color: #00f52146;
  background-image: linear-gradient(90deg, #00ff335e, #00763b77);
  box-shadow: 2px 3px 7px rgba(2, 196, 28, 0.653);
  transition: all .2s ease;

}

.monsterDrinkedLogBG{
  background-image: url('../../public/monsterDrinked.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* outline: 0.1px solid orange; */

}
.monsterDrinkedLog{
  background-color: #87878746;
  background-image: linear-gradient(90deg, #8b8b8b50, #0000008a);
  background-size: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all .2s ease;
  color: white;

  
}
.monsterDrinkedLog:hover{
  background-color: #a37404bb;
  background-image: linear-gradient(90deg, #360800a8, #f4250077);
  box-shadow: 2px 3px 7px rgba(255, 47, 0, 0.731);
  transition: all .2s ease;

}
.monsterDrinkedLogBG:hover{
  box-shadow: 2px 3px 7px rgba(255, 47, 0, 0.731);

}
.r6sBG{
  background-image: url('../../public/r6s.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* outline: 0.1px solid orange; */

}
.r6s{
  background-color: #87878746;
  background-image: linear-gradient(90deg, #8b8b8b50, #0000008a);
  background-size: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all .2s ease;
  color: white;

  
}
.r6s:hover{
  background-color: #0dcbffbb;
  background-image: linear-gradient(90deg, #360800a8, #00e4f477);
  box-shadow: 2px 3px 7px rgba(0, 238, 255, 0.731);
  transition: all .2s ease;

}
.r6sBG:hover{
  box-shadow: 2px 3px 7px rgba(0, 238, 255, 0.731);

}

/* STACK */



.stack{
  align-items: center;
  border-radius: 30px; 
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  z-index: 10;

 
}
.tailwind{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(0, 255, 255, 0.6),
  0 1px 1rem rgba(0, 255, 255, 0.6);
  color: rgba(0, 255, 255, 0.6);
  background-color: rgba(0, 188, 188, 0.132);

    img{
      color: rgba(0, 255, 255, 0.6) ;
      filter: saturate(200%);
      box-shadow: 
    0 0 5rem 0  transparent;
    position: absolute;
      }
}

.html{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(255, 183, 0, 0.6),
  0 1px 1rem rgba(255, 183, 0, 0.6);
  color: rgba(255, 183, 0, 0.6);
  background-color: rgba(255, 166, 0, 0.132);

  img{
    color: rgba(255, 183, 0, 0.6);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}

.css{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(0, 4, 255, 0.6),
  0 1px 1rem rgba(0, 4, 255, 0.6);
  color: rgba(0, 4, 255, 0.6);
  background-color: rgba(33, 70, 255, 0.546);

  img{
    color: rgba(0, 4, 255, 0.6);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}

.js{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(238, 255, 0, 0.6),
  0 1px 1rem rgba(238, 255, 0, 0.6);
  color: rgba(238, 255, 0, 0.6);
  background-color: rgba(238, 255, 0, 0.132);

  img{
    color: rgba(238, 255, 0, 0.6);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}
.astro{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(217, 0, 255, 0.6),
  0 1px 1rem rgba(241, 2, 206, 0.6);
  color: rgba(187, 25, 219, 0.6);
  background-color: rgba(255, 0, 255, 0.132);

  img{
    color: rgba(8, 174, 203, 0.6);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}

/* BACKEND */
.nodeJs{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(6, 120, 0, 0.6),
  0 1px 1rem rgba(6, 110, 0, 0.6);
  color: rgba(4, 84, 0, 0.6);
  background-color: rgba(4, 84, 0, 0.308);

  img{
    color: rgba(4, 84, 0, 0.6);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}

.expressJs{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(21, 188, 13, 0.393),
  0 1px 1rem rgba(21, 188, 13, 0.393);
  color: rgba(21, 188, 13, 0.393);
  background-color: rgba(49, 220, 40, 0.148);

  img{
    color: rgba(21, 188, 13, 0.393);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}

.mySql{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(0, 74, 123, 0.6),
  0 1px 1rem rgba(0, 74, 123, 0.6);
  color: rgba(0, 74, 123, 0.6);
  background-color: rgba(0, 74, 123, 0.356);

  img{
    color: rgba(0, 74, 123, 0.6);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}

/* LEARNING */
.react{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(0, 175, 177, 0.6),
  0 1px 1rem rgba(0, 175, 177, 0.6);
  color: rgba(0, 175, 177, 0.6);
  background-color: rgba(0, 113, 188, 0.58);

  img{
    color: rgba(0, 175, 177, 0.6);
    filter: saturate(200%);
    box-shadow: 0 0 5rem 0  transparent;
    }
}

.figma{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(217, 0, 255, 0.6),
  0 1px 1rem rgba(241, 2, 206, 0.6);
  color: rgba(187, 25, 219, 0.6);
  background-color: rgba(255, 0, 255, 0.132);

  img{
    color: rgba(8, 174, 203, 0.6);
    filter: saturate(200%);
    box-shadow: 
  0 0 5rem 0  transparent;
    }
}
/* TOOLS */
.vscode{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(0, 66, 153, 0.6),
  0 1px 1rem rgba(0, 66, 153, 0.6);
  color: rgba(0, 66, 153, 0.6);
  background-color: rgba(0, 23, 153, 0.6);

  img{
    color: rgba(0, 66, 153, 0.6);
    filter: saturate(200%);
    box-shadow: 0 0 5rem 0  transparent;
    }
}

.git{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(153, 10, 0, 0.6),
  0 1px 1rem rgba(153, 10, 0, 0.6);
  color: rgba(153, 10, 0, 0.6);
  background-color: rgba(115, 8, 0, 0.386);

  img{
    color: rgba(153, 10, 0, 0.6);
    filter: saturate(200%);
    box-shadow: 0 0 5rem 0  transparent;
    }
}


.github{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(146, 146, 146, 0.6),
  0 1px 1rem rgba(146, 146, 146, 0.6);
  color: rgba(146, 146, 146, 0.6);
  background-color: rgba(82, 82, 82, 0.457);

  img{
    color: rgba(146, 146, 146, 0.6);
    filter: saturate(200%);
    box-shadow: 0 0 5rem 0  transparent;
    }
}


.notion{
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  0 0 0 1px rgba(0, 0, 0, 0.15),
  inset 0 1px 1rem rgba(76, 76, 76, 0.918),
  0 1px 1rem rgba(76, 76, 76, 0.779);
  color: rgba(76, 76, 76, 0.6);
  background-color: rgba(41, 41, 41, 0.783);

  img{
    color: rgba(76, 76, 76, 0.6);
    filter: saturate(200%);
    box-shadow: 0 0 5rem 0  transparent;
    }
}

.stackItem:hover{
  background-color: rgba(66, 66, 66, 0.137);
  border-radius: 15px;
}

.skillsTitle{
  
  background-color: #78f3e1;
  background-image: linear-gradient(90deg, #08c3c0, #00aaff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}


/* CONTACT */

