---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro';
import Experience from '../sections/Experience.astro';
import Projects from '../sections/Projects.astro';
import Skills from '../sections/Skills.astro';
import Contact from '../sections/Contact.astro';
import Stack from '../sections/Stack.astro';

---

<Layout title="Welcome to Astro.">
	<main>

		<Navbar />

		<Hero />

		<Experience />
		<Projects />


		<Stack />

		<Contact />
	</main>
</Layout>
