---
interface Props {
  title: string;
  img: string;  
  href: string;
}

const {title,img,href} = Astro.props 

import '../../src/styles/global.css'

const display = title || img
---

<a class="buttonGradient w-fit p-2 rounded-3xl navFont   sm:text-[13px] md:text-1xl" href={href} >
  {title}

</a>