---

---

<header class="  fixed bg-opacity-70 my-0 mx-auto w-[90vw] md:w-fit md:h-[100vh] navBar md:top-auto top-5 
md:left-auto left-0 md:right-auto right-0">

  <nav class="flex justify-center " >

    <ul class="flex flex-row md:flex-col md:gap-8 my-0  items-start  w-full gap-8 
    justify-center  align-top  ">

      <button class="group navButton items-center group-hover:cursor-pointer changeLanguague 
      flex flex-col md:flex-row  ">
        <div class="group-hover:scale-150  transition-all circle"></div>
        <p class="toolTip  navFont " id="languageNB">Language</p>
      </button>


      <a class="group navButton  flex items-center flex-col md:flex-row" href="#aboutMe">
        <div class="circle group-hover:scale-150  transition-all"></div>
        <p class="toolTip  navFont " id="AboutmeNB">About me</p>
      </a>

      <a class="group navButton  flex items-center flex-col md:flex-row" href="#ExperienceT">
        <div class="circle group-hover:scale-150  transition-all"></div>
        <p class="toolTip  navFont " id="ExperienceNB">Experience</p>
      </a>

      <a class="group navButton  flex items-center flex-col md:flex-row" href="#ProjectsT">
        <div class="circle group-hover:scale-150  transition-all"></div>
        <p class="toolTip  navFont " id="ProjectsNB">Projects</p>
      </a>

      
      <a class="group navButton  flex items-center flex-col md:flex-row" href="#StackT">
        <div class="circle group-hover:scale-150  transition-all"></div>
        <p class="toolTip  navFont " id="StackNB">Stack</p>
      </a>

      <a class="group navButton  flex items-center flex-col md:flex-row" href="#contactT">
        <div class="circle group-hover:scale-150  transition-all"></div>
        <p class="toolTip  navFont " id="ContactNB">Contact</p>
      </a>

    </ul>

  </nav>



  
  
</header>

<script src="../scripts/Languague.js"></script>