---

---

<header class="lg:w-1/2 lg:h-16  group
  my-0 mx-auto bg-slate-900  bg-opacity-70 w-2/3 
  rounded-b-lg text-white  hover:shadow-md hover:shadow-cyan-300 transition-all ">

  <nav class="flex justify-center" >

    <ul class="lg:gap-12  xl:text-2xl transition-all flex flex-row gap-4 flex-wrap md:flex-auto 
    md:gap-8  lg:flex-nowrap
    w-fit my-4 mx-auto   navFont font-semibold justify-center text-center ">
      
      <li class="hover:text-cyan-400 hover:shadow-md transition-all ">Home</li>
      <li class="hover:text-cyan-400">Experience</li>
      <li class="hover:text-cyan-400">Projects</li>
      <li class="hover:text-cyan-400">Skills</li>
      <li class="hover:text-cyan-400">Contact</li>

    </ul>

  </nav>



  
  
</header>