

<div class="bg">
  <div class="card glass">
    <div class="shape1"></div>
    <div class="shape2"></div>
    <div class="shape3"></div>

  </div>
</div>

<style>
  .bg{
    position: fixed;
    top: 0 !important;
    justify-content: center;
    inset: 0;
    display: inline-flex;
    flex-direction: row;
    opacity: 0.9;
    z-index: 0;
  }
  .card{
    position: absolute;
    right: 0;
    top: 0 !important;
    justify-content: center;
    inset: 0;
    display: inline-flex;
    flex-direction: row;
  }
  .shape1{
    width: 10em;
    height: 10em;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
    opacity: 0.9;
    filter: blur(300px);
    background-color: rgb(255, 0, 200);
  }
  .shape2{
    width: 20em;
    height: 20em;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
    opacity: 0.9;
    filter: blur(200px);
    background-color: rgba(0, 255, 255, 0.418);
  }

  .shape3{
    width: 20em;
    height: 20em;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
    opacity: 0.9;
    filter: blur(150px);
    background-color: rgba(126, 84, 0, 0.715);
  }
  @keyframes one{
    0%{left: 0px; top: 0px;}
    20%{left: 10px; top: 30px;}
    40%{left: 30px; top: 40px;}
    70%{left: 450px; top: 20px;}
    90%{left: -10px; top: -320px;}

  }
  @keyframes two{
    0%{left: 0px; top: 0px;}
    20%{left: -10px; top: 30px;}
    40%{left: 30px; top: -40px;}
    70%{left: -450px; top: 20px;}
    90%{left: 10px; top: 320px;}

  }


  .glass{
    /* background-color: #fafafa10; */
    /* backdrop-filter: blur(0.4rem); */
  }
</style>