---



---


<div class="container  mx-auto my-0  sm:w-2/3" >
  <h1 class="text text-center text-5xl navFont text-white my-12" id="contactT">Contact me</h1>
  
  <form action="" class="flex flex-col gap-8 justify-center items-center  w-2/3 mx-auto my-0  p-4" id="contact-form">
    <p class="text-3xl text-cyan-300 navFont"></p>

    <div class="w-full flex flex-col gap-12">

      <div class="w-full ">
        <input type="text" id="name" name="user_name" placeholder="Name" class=" bg-transparent placeholder:text-cyan-300 border-b-[1px] w-full font-mono text-xl text-white py-4
        focus:outline-none">
    </div>


    <div class="w-full">
        <input type="text" id="email" name="user_email" placeholder="Email" class="bg-transparent placeholder:text-cyan-300 border-b-[1px] w-full font-mono text-xl text-white py-4 focus:outline-none"> 
    </div>



    </div>


    <div class="w-full my-12">
        <textarea class=" bg-transparent placeholder:text-cyan-300 border-b-[1px]
        w-full font-mono text-xl text-white py-4 focus:outline-none"  id="description" name="user_message" placeholder="Message"></textarea>
    </div>

    <button id="submit" class="border-2 mb-12 flex  justify-center items-center rounded-xl gap-2 group transition-all hover:border-cyan-300">
      <img src="send.png" class="w-1/4 hidden group-hover:block transition-all"></img>
      <img src="sendWhite.png" class="w-1/4  group-hover:hidden transition-all"></img>

      <p class="text-white group-hover:text-cyan-300 transition-all">Send</p>
    </button>

  </form>
</div>


<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js'></script>

<script is:inline >


  (function() {
      emailjs.init('20Qe5ks8Crm8Z5AEG'); 
    })();

    document.getElementById('contact-form').addEventListener('submit', function(event) {
      event.preventDefault();

            const name = document.getElementById('name').value.trim();
            const email = document.getElementById('email').value.trim();
            const description = document.getElementById('description').value.trim();

            if (!name || !email || !description) {
                alert('Please fill in all fields.');
                return;
            }

      emailjs.sendForm('service_83i1st3', 'template_p7bwo8q', this)
        .then(function() {
          alert('Email sent successfully!');
        }, function(error) {
          alert('Failed to send email: ' + JSON.stringify(error));
        });
    });
</script>