---

---

<article class="my-44">

  <h1 class="text text-center text-5xl navFont text-white " id="Experience">My Experience</h1>

  <section class="mx-auto  my-16 w-2/3 flex gap-8 ">
    

    <figure class="gap-4 flex flex-col w-1/2 ">
      <h1 class="text-4xl navFont text-white">Papel Crepe</h1>
      <img class="w-full rounded-3xl" src="./PapelcrepeWeb.png" alt="">
    </figure>

    <div class="flex flex-col gap-8 w-1/2">


      <section class="flex gap-8">
        <p class="navFont text-3xl text-white">Web Stack</p>

        <figure class="w-10 flex gap-8">
          <img src="/Astro.png" alt="">
          <img src="/Tailwind.png" alt="">
          <img src="/Js.png" alt="">
        </figure>
      </section>

      <p class="text-xl text-justify text-white font-mono">My initial experience as a web developer involved  <span class="text-cyan-300">learning about SEO</span> and exploring different methods to structure a website's sections. It was also <span class="text-cyan-300">my first time working directly with clients</span> , and I believe the website turned out well considering my skill level at the time. </p>

      <div class="flex gap-8 my-6">
        <a href="https://github.com/Eyvarjgc/PapelCrepeWeb" class="flex papelcrepeButton w-fit rounded-3xl navFont justify-center items-center gap-2 p-1">
          <img src="/github.png" alt="" class="w-8">
          <p>Github</p>
        </a>
  
        <a href="https://papel-crepe-web.vercel.app" class="flex papelcrepeButton w-fit rounded-3xl navFont justify-center items-center gap-2 p-1">
          <img src="/web.png " alt="" class="w-8">
          <p>Website</p>
        </a>
        

      </div>


    </div>


  </section>


  <a href="#Projects" class="w-fit mx-auto my-0 flex gap-2 animate-bounce text-cyan-300 mt-24">
    <h1 class="navFont">Projects</h1>
    <img src="/lowArrow.png" alt="" class="w-4">
  </a>

</article>

