---

---

<article class="my-44">

  <h1 class="text text-center text-3xl sm:text-5xl navFont text-white " id="Experience">My Experience</h1>

  <section class="mx-auto  my-16 w-2/3 flex flex-col lg:flex-row  gap-8 lg:justify-normal md:justify-center md:items-center ">
    

    <figure class="gap-4 flex flex-col w-3/4 lg:w-1/2  my-0 mx-auto ">
      <h1 class="text-2xl md:text-5xl navFont text-center lg:text-left text-white">Papel Crepe</h1>
      <img class="w-full lg:w-full  rounded-3xl" src="./PapelcrepeWeb.png" alt="">
    </figure>

    <div class="flex flex-col lg:mt-14 gap-1 md:gap-8 w-2/3 mx-auto my-0 justify-center items-center lg:justify-normal lg:items-start   ">


      <section class="flex my-4  flex-col md:flex-row gap-4 md:gap-0 justify-center text-center md:text-left">
        <p class="navFont text-xl md:text-2xl w-full  lg:text-3xl text-white ">Web Stack</p>

        <figure class=" flex lg:gap-8 gap-4">
          <img src="/Astro.png" alt="" class="w-10 h-10">
          <img src="/Tailwind.png" alt="" class="w-10 h-10">
          <img src="/Js.png" alt="" class="w-10 h-10">
        </figure>
      </section>

      <p class=" text-[13px] sm:text-[14px] text-justify text-white font-mono">My initial experience as a web developer involved  <span class="text-cyan-300">learning about SEO</span> and exploring different methods to structure a website's sections. It was also <span class="text-cyan-300">my first time working directly with clients</span> , and I believe the website turned out well considering my skill level at the time. </p>

      <div class="flex gap-4 my-6 flex-col sm:flex-row ">
        <a href="https://github.com/Eyvarjgc/PapelCrepeWeb" class="flex papelcrepeButton w-fit rounded-3xl navFont justify-center items-center gap-2 p-1">
          <img src="/github.png" alt="" class="w-6 md:w-8">
          <p >Github</p>
        </a>
  
        <a href="https://papel-crepe-web.vercel.app" class="flex papelcrepeButton w-fit rounded-3xl navFont justify-center items-center gap-2 p-1">
          <img src="/web.png " alt="" class="w-6 md:w-8">
          <p>Website</p>
        </a>
        

      </div>


    </div>


  </section>


  <a href="#Projects" class="w-fit mx-auto my-0 flex gap-2 animate-bounce text-cyan-300 mt-24">
    <h1 class="navFont">Projects</h1>
    <img src="/lowArrow.png" alt="" class="w-4">
  </a>

</article>

