---
import ContactButtons from "../components/ContactButtons.astro";
import ProjectCards from "../components/ProjectCards.astro";


---

<h1 class="text text-center text-5xl navFont text-white " id="Projects">My Projects</h1>
<p class="text text-center text-xl navFont text-cyan-200 mt-4">Hover on the card to know more info</p>

<div class="my-20">


  <article class="flex gap-8 w-2/3 mx-auto my-20">


 


    <!-- <ProjectCards title="PlaylistStats" 
    stack1="Expressjs.png" stack2="/Js.png"  stack3="/Spotify.png"
    description="In this project, I applied my knowledge of APIs and couldn't be more grateful for the experience. I have a deep love for music, so I used the Spotify API to display the most listened-to songs and create new playlists based on the selected artist. Through this project, my understanding of APIs has greatly improved." 
    github="https://github.com/Eyvarjgc/PlayListStats" 
    website="https://playliststats.onrender.com" 
    img="/playlistStats.png"
    color="greenyellow"
    width="326px"
    height="514px"
    size="20px"/> -->
  
  
  </style>
  
  <section class="product-item rounded-3xl overflow-hidden playlistStatsBG" }>
  
  
    <div class="item-content">
      <h1 class="item-title text-white m-0 text-3xl navFont project absolute right-0 left-0 top-0 p-4">PlaylistStats</h1>
  
      <div class=" flex absolute bottom-0 right-0 left-0 justify-center gap-6 project p-4">
        <img class="w-10 h-10" src='Expressjs.png' alt="">
        <img class="w-10 h-10" src='Js.png' alt="">
        <img class="w-10 h-10" src='Spotify.png' alt="">
      </div>
  
    </div>
  
  
  
    <div class="item-description">
      <p class="pt-4 text-justify font-mono text-lg" >In this project, I applied my knowledge of APIs and couldn't be more grateful for the experience. I have a deep love for music, so<span class="text-cyan-300"> I used the Spotify API </span> to display the most listened-to songs and create new playlists based on the selected artist. Through this project, <span class="text-cyan-300">my understanding of APIs has greatly improved.</span></p>
  
      <div class="flex justify-center items-center absolute right-0 left-0 bottom-5 gap-4  ">
  
        <a href='https://github.com/Eyvarjgc/PlayListStats' class="projectButtons flex playlistStats w-fit rounded-2xl  justify-center items-center gap-2 p-1">
          <img src="/github.png " alt="" class="w-8">
          <p>Github</p>
        </a>
        <a href='https://playliststats.onrender.com' class="projectButtons flex playlistStats  w-fit rounded-2xl navFont justify-center items-center gap-2 p-1">
          <img src="/web.png " alt="" class="w-8">
          <p>Website</p>
        </a>
  
  
      </div>
    </div>
  
    <div class="projectBg right-0 left-0 bottom-0 top-0"></div>
  </section>
  
  
  <section class="product-item rounded-3xl overflow-hidden monsterDrinkedLogBG" }>
  
  
    <div class="item-content">
      <h1 class="item-title text-white m-0 text-xl navFont project absolute right-0 left-0 top-0 p-4">MonsterDrinkedLog</h1>
  
      <div class=" flex absolute bottom-0 right-0 left-0 justify-center gap-6 project p-4">
        <img class="w-10 h-10" src='mysql.png' alt="">
        <img class="w-10 h-10" src='Js.png' alt="">
        <img class="w-10 h-10" src='Expressjs.png' alt="">
      </div>
  
    </div>
  
  
  
    <div class="item-description">
      <p class="pt-4 text-justify font-mono text-lg" >In this project, I practiced my skills using MySQL. It’s a project where <span class="text-cyan-300">I implemented a CRUD system</span>   with MySQL and Express. Throughout this experience, <span class="text-cyan-300">I learned various aspects of MySQL</span>   and how to deploy a database.</p>
  
      <div class="flex justify-center items-center absolute right-0 left-0 bottom-5 gap-4  ">
  
        <a href='https://github.com/Eyvarjgc/MonsterDrinkedLog' class="projectButtons flex monsterDrinkedLog w-fit rounded-2xl  justify-center items-center gap-2 p-1">
          <img src="/github.png " alt="" class="w-8">
          <p>Github</p>
        </a>
        <a href='https://monsterdrinkedlog.onrender.com' class="projectButtons flex monsterDrinkedLog  w-fit rounded-2xl navFont justify-center items-center gap-2 p-1">
          <img src="/web.png " alt="" class="w-8">
          <p>Website</p>
        </a>
  
  
      </div>
    </div>
  
    <div class="projectBg right-0 left-0 bottom-0 top-0"></div>
  </section>
  
  
  
  </article>
  <a href="#Stack" class="w-fit mx-auto my-0 flex gap-2 animate-bounce text-cyan-300 mt-24">
    <h1 class="navFont">Stack</h1>
    <img src="/lowArrow.png" alt="" class="w-4">
  </a>
  


</div>
