---


---


<article class=" my-44 text-white"  id="#Stack">
  <h1 class="text text-center text-5xl navFont" id="Stack">Stack</h1>

  <section class=" w-2/3  mx-auto   my-12 p-1  grid grid-cols-3 gap-8   ">

    <div class="grid grid-rows-4 grid-flow-col gap-12 mx-auto w-full h-full my-0  stackItem 
    row-start-2 row-span-4 group  ">
      <h1 class="text-4xl text-center navFont col-start-1 col-span-4 -rotate-6 group-hover:rotate-0 transition-all skillsTitle ">Frontend</h1>
  
      <div class="stack tailwind rotate-12 group-hover:rotate-0 transition-all">
        <img class="    w-1/2" src="/Tailwind.png"></img>
      </div>
  
      <div class="stack html -rotate-45 group-hover:rotate-0 transition-all">
        <img class=" w-1/2" src="/Html.png"></img>
      </div>
  
      <div class="stack css -rotate-12 group-hover:rotate-0 transition-all">
        <img class=" w-1/2" src="/Css.png"></img>
      </div>
  
      <div class="stack js rotate-90 group-hover:rotate-0 transition-all">
        <img class=" w-1/2" src="/Js.png"></img>
      </div>
  
      <div class="stack astro -rotate-45 group-hover:rotate-0 transition-all">
        <img class=" w-1/2" src="/Astro.png"></img>
      </div>
    </div>

    <div class="grid col-start-2 col-span-4 row-start-1 row-span-3  
    grid-cols-3 grid-rows-4 group  transition-all stackItem">

      <h1 class="text-5xl  navFont col-start-1 col-span-3  row-start-1  -rotate-12 group-hover:rotate-0 transition-all skillsTitle">Backend</h1>

      <div class="stack nodeJs col-start-3 -rotate-90 group-hover:rotate-0 transition-all">
        <img class="   w-1/2" src="/nodeJs.png"></img>
      </div>

      <div class="stack expressJs col-start-2 row-start-3 -rotate-180 group-hover:rotate-0 transition-all">
        <img class="    w-1/2" src="/Expressjs.png"></img>
      </div>

      <div class="stack mySql col-start-1 row-start-4 rotate-45 group-hover:rotate-0 transition-all ">
        <img class="    w-1/2" src="/mysql.png"></img>
      </div>
    </div>

    <div class=" grid row-start-4 row-span-5  group transition-all grid-cols-3 grid-rows-3 stackItem"> 
      <h1 class="text-4xl text-center navFont col-start-1 col-span-5 row-start-2 rotate-12 skillsTitle group-hover:rotate-0 transition-all">Learning</h1>

      <div class="stack react col-start-1 row-start-3 rotate-180 group-hover:rotate-0 transition-all">
        <img class="    w-1/2" src="/react.png"></img>
      </div>
      <div class="stack figma col-start-5 row-start-3 rotate-12 group-hover:rotate-0 transition-all">
        <img class="    w-1/2" src="/figma.png"></img>
      </div>
    </div>

    <div class=" grid row-start-4 row-span-5 grid-cols-2 grid-rows-3  group transition-all stackItem" >
      <h1 class="text-6xl text-center navFont col-start-1 col-span-5 rotate-12  group-hover:rotate-0 transition-all skillsTitle">Tools</h1>
      <div class="stack vscode rotate-45 group-hover:rotate-0 transition-all">
        <img class="    w-1/2" src="/vscode.png"></img>
      </div>

      <div class="stack git col-start-4 -rotate-180  group-hover:rotate-0 transition-all">
        <img class="    w-1/2" src="/git.png"></img>
      </div> 
      <div class="stack github col-start-2 rotate-90  group-hover:rotate-0 transition-all">

        <img class="    w-1/2" src="/github.png"></img>
      </div> <div class="stack notion col-start-5 -rotate-12  group-hover:rotate-0 transition-all">

        <img class="    w-1/2" src="/notion.png"></img>
      </div>
    </div>

  </section>
  

  



</article>
  <a href="#contact" class="w-fit mx-auto my-32 flex gap-2 animate-bounce text-cyan-300 mt-24">
    <h1 class="navFont">Contact</h1>
    <img src="/lowArrow.png" alt="" class="w-4">
  </a>