---


---


<article class=" mt-36 text-white"  id="#Stack">
  <h1 class="text text-center text-3xl sm:text-5xl navFont "  id="StackT">Stack</h1>

  <section class="w-2/3  mx-auto   my-12 p-1   gap-20  flex flex-col  justify-center lg:w-fit ">

    <div class=" flex  flex-wrap flex-col md:flex-row gap-8 mx-auto w-full h-full my-0  stackItem 
    row-start-2 row-span-4 group  transition-all">
      <h1 class="text-4xl text-center navFont col-start-1 col-span-4 -rotate-6 group-hover:rotate-0 transition-all skillsTitle ">Frontend</h1>
  
      <div class="flex flex-wrap gap-8 justify-center">

        <div class="stack w-16 h-16 tailwind rotate-12 group-hover:rotate-0 transition-all">
                <img class="w-1/2" src="/Tailwind.png"></img>
              </div>
          
              <div class="stack w-16 h-16  html -rotate-45 group-hover:rotate-0 transition-all">
                <img class=" w-1/2" src="/Html.png"></img>
              </div>
          
              <div class="stack w-16 h-16 css -rotate-12 group-hover:rotate-0 transition-all ">
                <img class=" w-1/2" src="/Css.png"></img>
              </div>
          
              <div class="stack w-16 h-16 js rotate-90 group-hover:rotate-0 transition-all">
                <img class=" w-1/2" src="/Js.png"></img>
              </div>
          
              <div class="stack w-16 h-16 astro -rotate-45 group-hover:rotate-0 transition-all">
                <img class=" w-1/2" src="/Astro.png"></img>
              </div>

      </div>

    </div>

    <div class="flex  flex-wrap flex-col md:flex-row gap-8 mx-auto w-full h-full my-0  stackItem 
    row-start-2 row-span-4 group  transition-all">

      <h1 class="text-4xl  navFont text-center  -rotate-12 group-hover:rotate-0 transition-all skillsTitle">Backend</h1>


      <div class="flex flex-wrap gap-8 justify-center">

        <div class="stack w-16 h-16 nodeJs  -rotate-90 group-hover:rotate-0 transition-all">
          <img class="   w-1/2" src="/nodeJs.png"></img>
        </div>
  
        <div class="stack w-16 h-16 expressJs -rotate-180 group-hover:rotate-0 transition-all">
          <img class="w-1/2" src="/Expressjs.png"></img>
        </div>
  
        <div class="stack w-16 h-16 mySql  rotate-45 group-hover:rotate-0 transition-all ">
          <img class="    w-1/2" src="/mysql.png"></img>
        </div>

      </div>
     
    </div>

    <div class="flex  flex-wrap flex-col md:flex-row gap-8 mx-auto w-full h-full my-0  stackItem 
    row-start-2 row-span-4 group  transition-all"> 
      <h1 class="text-4xl text-center navFont col-start-1 col-span-5 row-start-2 rotate-12 skillsTitle group-hover:rotate-0 transition-all" id="learning">Learning</h1>


      <div class="flex flex-wrap gap-8 justify-center">

        <div class="stack w-16 h-16 react  rotate-180 group-hover:rotate-0 transition-all">
          <img class="    w-1/2" src="/react.png"></img>
        </div>
        <div class="stack w-16 h-16 figma  rotate-12 group-hover:rotate-0 transition-all">
          <img class="    w-1/2" src="/figma.png"></img>
        </div>

      </div>
      
    </div>

    <div class="flex  flex-wrap flex-col md:flex-row gap-8 mx-auto w-full h-full my-0  stackItem 
    row-start-2 row-span-4 group  transition-all" >
      <h1 id="tools" class="text-4xl text-center navFont col-start-1 col-span-5 rotate-12  group-hover:rotate-0 transition-all skillsTitle">Tools</h1>
      
      
      <div class="flex flex-wrap gap-8 justify-center">

        <div class="stack w-16 h-16 vscode rotate-45 group-hover:rotate-0 transition-all">
          <img class="    w-1/2" src="/vscode.png"></img>
        </div>
  
        <div class="stack w-16 h-16 git col-start-4 -rotate-180  group-hover:rotate-0 transition-all">
          <img class="    w-1/2" src="/git.png"></img>
        </div> 
        <div class="stack w-16 h-16 github col-start-2 rotate-90  group-hover:rotate-0 transition-all">
  
          <img class="    w-1/2" src="/github.png"></img>
        </div> <div class="stack notion w-16 h-16  col-start-5 -rotate-12  group-hover:rotate-0 transition-all">
  
          <img class="    w-1/2" src="/notion.png"></img>
        </div>



      </div>

    </div>

  </section>
  

  



</article>
  <a href="#contact" class="w-fit mx-auto mb-40 flex gap-2 animate-bounce text-cyan-300 mt-0">
    <h1 id="contact" class="navFont">Contact</h1>
    <img src="/lowArrow.png" alt="" class="w-4">
  </a>